extends ./utils/_base.pug

block append stylesheet
  link(rel="preconnect", href='https://fonts.googleapis.com')
  link(rel="stylesheet", href='https://fonts.googleapis.com/css2?family=Allura&family=Playfair+Display:wght@400;500;700&display=swap')
  link(rel="stylesheet", href='https://fonts.googleapis.com/css2?family=Chewy&display=swap')

block main
  ul.circles
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
  .container.st 
    .st__head
      figure.bob
       +img('sample01.jpg','')(class="fit")
    .st__middle
      ul 
        li
          a(href="https://www.facebook.com/quangthi195/")(class="show_pc")
            i.fa.fa-facebook
            | Facebook
          a(href="fb://profile/100003668462158")(class="show_sp")  
            i.fa.fa-facebook
            | Facebook
        li 
          a(href="https://www.instagram.com/dq.thii/") 
            i.fa.fa-instagram
            | Instagram
        li 
          a(href="tel:+84981863229")
            i.fa.fa-phone
            | Phone Number
        li 
          a(href="mailto:dinhquangthi195@gmail.com") 
            i.fa.fa-mail
            | Email
        li 
          a(href="https://join.skype.com/invite/vvbas6pduWkd") 
            i.fa.fa-skype
            | Skype